<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Add</title>
    <!--<link rel="stylesheet" href="/main.css" />-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="">
</head>
<!--TD Modified this-->
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">CONSULTING | New consultation</a>
            <a class="navbar-brand">
                <img src="/src/user.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>
    <br>
    <div class="container mx-lg-5" id="mycontainer">
        <form action="#" th:action="@{/add}" th:object=${consultation} method="post">
            <legend ><strong>ADD NEW CONSULTATION</strong></legend>
            <div class="form-group my-2">
                <label for="account_name" class="form-label">Account Name</label>
                <input type="text" class="cajas form-control" id="account_name" th:field="*{account_name}" name="account_name" placeholder="PAUL RAMON" value="PAUL RAMON" readonly>
                <div class="form-text">Name account user</div>
            </div>

            <div class="form-group my-2">
                <label for="account_name" class="form-label">Description</label>
                <input type="text" class="cajas form-control" id="description" th:field="*{description}" name="description" placeholder="Enter description" >
                <div class="form-text" id="message">Description of consultation</div>
            </div>

           <!-- <div class="form-group">
                <label for="account_name" class="form-label">Description</label>
                <input type="text" class="form-control" id="status" th:field="*{status}" name="status" placeholder="true" disabled>
                <div class="form-text">Descrition of consultation</div>
            </div>-->

            <div class="form-group my-2">
                <label for="account_name" class="form-label">Date</label>
                <input type="text" class="form-control" id="application_date" th:field="*{application_date}" name="application_date" onclick="getDate()" readonly>
                <div class="form-text">Actual date</div>
            </div>

            <br>
            <button type="submit" id="send" class="btn btn-success" disabled>Save</button>
        </form>
        <br>

    </div>

    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
