<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Micro consultings</title>
    <!--<link rel="stylesheet" href="/main.css" />-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="consultations">CONSULTING | Account Inquiries</a>
        <a class="navbar-brand">
            <img src="/src/user.png" alt="" width="35" height="35" class="d-inline-block align-text-top">
        </a>
    </div>
    </nav>

    <div class="container">
        <br>
        <legend>MY HISTORIAL CONSULTATIONS</legend>
        <br>
        <br>
            <h2 th:if="${consultations.isEmpty()}">No consultations</h2>
            <div th:if="${!consultations.isEmpty()}">
                <table class="table">
                    <thead class="table-dark ">
                        <tr class="text-center">
                            <th>#</th>
                            <th>Account Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="consultation : ${consultations}" >
                            <td th:text="${consultation.id}" class="text-center"></td>
                            <td th:text="${consultation.account_name}" class="text-center"></td>
                            <td th:text="${consultation.description}"></td>
                            <td th:if="${!consultation.status}" class="text-center">On hold</td>
                            <td th:if="${consultation.status}" class="text-center">Attended</td>
                            <!--<div th:if=<td th:if="${!consultation.attended}">Wait</td>"${!consultations.isEmpty()}">-->
                            <td th:text="${consultation.application_date}" class="text-center"></td>
<!--                            <td><a th:href="@{/add/{id}(id=${consultation.id})">Delete</a></td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

    <div class="container">
        <br>

        <div>
            <a href="/add/0" class="btn btn-primary">New Consultation</a>
        </div>
    </div>


</body>
</html>